@import url('https://fonts.googleapis.com/css2?family=Anton&family=League+Spartan:wght@900&family=Poppins:wght@100;200;700;800;900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
font-family: 'Anton';

}

  
.red-border{
  border:1px solid red;
}

  
.green-border{
  border:1px solid rgb(0, 255, 0);
}

.orange-border{
  border:1px solid rgb(255, 166, 0);
}

@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }

