@import url('https://fonts.googleapis.com/css2?family=Anton&family=League+Spartan:wght@900&family=Poppins:wght@100;200;700;800;900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
font-family: 'Anton';

}





.red-border{
  border:1px solid red;
}

  
.green-border{
  border:1px solid rgb(0, 255, 0);
}

.orange-border{
  border:1px solid rgb(255, 166, 0);
}


  #prince{
    font-family: 'Anton';
    font-size: 12px;
    color: #605E5E;
  }
  
   .foot{
    width: 100%;
    height: 50px;
    margin-top: 1000px;
    /*background-color: #fff;*/
    text-align: center; 
    color: #605E5E;
    font-family: 'Anton';
    font-size: 12px;
    
  }
  

  @media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    @media (max-width:1000px) {
      .prince {
        width: 5px !important;
        height: 5px !important; 
      }
      }