@import url('https://fonts.googleapis.com/css2?family=Anton&family=League+Spartan:wght@900&family=Poppins:wght@100;200;700;800;900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
font-family: 'Anton';
}


h1{
  font-size: 45px;
  font-family: "Anton";
  color: #000;
}


nav{
  position: relative;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  padding: 20px;
  transition: all 0.4s ease;
  justify-content: center;
  align-items: center;
  font-family: 'Anton';
  font-weight: 100px;
  border: #605E5E;
  border-width: 5px;
 }



nav .nav-content{
 height: 100%;
 max-width: 1200px;
 margin: auto;
 display: flex;
}



.nav-content .nav-links{
  display: flex;
  align-items: center;
  justify-content: left;
 }

 
 .nav-content .nav-links li{
  list-style: none;
  margin: 0 8px;
  color: #605E5E;
  justify-content: flex-end;
  align-items: flex-end;
 }
 
 .nav-links li a{
  text-decoration: none;
  font-size: 34px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3s ease;
  font-size: 16px;
  color: #605E5E;
  
 }
 



 

/*.nav-links li a:hover{
  color: #ffffff;
 
}*/

/*nav.sticky .nav-links li a{
  color: #ffffff;
  transition: all 0.4s ease;

}*/

/*nav.sticky .nav-links li a:hover{
 color: #0E2431;

}*/



.flexbox-logo{
width: 10px;
}


.prince{
  width: 265px;
  height: 265px;
  position: fixed;
  align-items: center;
  margin-left: 450px;
  z-index: 100;
  border-width: 5px;
  border-color: #605E5E;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  
}


.imageEl{
  border: 5px;
  border-color: #000;
  width: 1000px;
  height: 1000px;
}


.imageEl2{
  border: 5px;
  border-color: #000;
  width: 1500px;
  height: 1500px;
}



img{
  border: 5px;
  border-color: #000;
  width: 450px;
  height: 580px;
  border-width: 5px;
  border: #605E5E;

  

}

.nameEl{
  color: blue;
}

button{
  width: 50px;
  margin-bottom: 50px;
}

/*.comerce {
  height: 100%;
  width: 100%;
 background: url("prince/background.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Anton';
  font-weight: 200;
  font-size: 12px;
  /*margin-bottom: 400px;
  box-sizing: border-box;
  

  background-color:  #605E5E;
 
 }*/



.slider-content {

  display: flex;
  position: relative;
  flex-flow: column wrap;
  /*margin-top: 100px;*/
  justify-content: center;
  align-items: center;
  height: 1000px;
  /*column-gap: 50px;
  margin-left: 600px;
  margin-top: 340px;*/
 
  
}



.slider {
  position: absolute;
  width: 500px;
  height: 800px;
 
  /*overflow: hidden;*/
 
  justify-content: center;
  display: block;
  

}



.slider-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  
}

/*.active {
  display: block;
}*/



 #prince{
  font-family: 'Anton';
  font-size: 12px;
  color: #605E5E;
}

 .foot{
  width: 100%;
  height: 50px;
 /* margin-top: 1400px;
  /*background-color: #fff;*/
  text-align: center; 
  color: #605E5E;
  font-family: 'Anton';
  font-size: 12px;
  
}

@media ( max-width: 505px ) {
  .prince{ 
    width: 0px;
    height: 0px;

  }
  }
  

  @media (max-width:1000px) {
    .prince {
      width: 5px !important;
      height: 5px !important; 
    }
    }
